.dashboardBody{
    height: 100vh;
    width: 100%;
    /* background-color:#00152A; */
}
.logo{margin-top:10px;
 height:55px;
 width:55px;
 text-align:center;
 margin-left: auto;
 margin-right: auto;

}

.newone {
    width: 50px;
    height: 50px;
    margin-top: 6px;
    background-color: #fff;
    color: #25397B;
    margin-left: 30%;
    margin-top: 18%;
    border-radius: 50%;
    align-items: center;
    text-align: center;
    font-size: 32px;
    cursor:pointer; 
}


.container{ 
    display:flex;
    flex-direction: row;
    justify-content: center;
    
}
.profiles{ 

    display:flex;
    flex-direction: column;
    width:10%;
    height: 100vh;
    background-color:#00152A;
    
}
.profiles-container{
 height:80px;
 width:100%;
 margin-top: 15px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 color:white;


}
.profiles-container:hover{
  background-color:#26397B;
   
   
   }
 .profiles-container>img{
    height:30px;
    width:30px;
  
   
   }
.right-container{ 
    height: 100vh;
    width:100%;

    display: flex;
    flex-direction: column;

}
.Select-container{ 
    height: 100vh;
     padding:20px;
    width:96.5%;
    background-color:rgb(241,241,241);
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-container>img{ 
    height: 60px;
   margin-left:30px;
   margin-top: 5px;
}
.searchbtn {
    position: fixed;
    height: 42px;
    margin: auto 0px;
    padding: 0px 5px;
    margin-left: 30%;
    background-color: white;
    border: 1px solid lightgray;
    cursor: pointer;
    border-radius: 10px;
    color:#25397B
}

.logout{
    background-color:#26397b;
    height: 35px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius:20px;
    width: 80px;
    margin-right:30px;

    color:white;
    cursor: pointer;
}
.searchbox{
    position: fixed;
    width: 350px;
    background-color: yellow;
        height: 30px;
        margin: auto 0px;
        padding: 5px;
        font-size:15px;
        font-weight:600;
        background-color: white;
        border: none;
        outline: none;
        margin-left: 150px;
}

.create{
    background-color:#26397b;
    height: 35px;
    justify-content:center;
    align-items: center;
    border-radius:20px;
    width: 150px;
    margin-left:750px;
    outline: none;
    border: none;
    color:white;
    cursor: pointer;
}



